<div class="wrapper cv-timeline">
    <ul class="timeline">
        <li class="tl-header">
            <div class="btn btn-info">Now</div>
        </li>
        <li class="tl-item">
            <div class="tl-wrap b-info">
                <span class="tl-date">5s ago</span>
                <div class="tl-content">
                    Player 1 scored a basket
                </div>
            </div>
        </li>
        <li class="tl-item">
            <div class="tl-wrap">
                <span class="tl-date">2m ago</span>
                <div class="tl-content">
                    <div>Ayush scored a basket</div>
                </div>
            </div>
        </li>
        <li class="tl-item tl-left">
            <div class="tl-wrap b-success">
                <span class="tl-date">5m ago</span>
                <div class="tl-content">
                    <div class="text-lt">Block by Player 1</div>
                </div>
            </div>
        </li>
        <li class="tl-item tl-left">
            <div class="tl-wrap b-success">
                <span class="tl-date">7m ago</span>
                <div class="tl-content">
                    <div class="text-lt">Game started</div>
                </div>
            </div>
        </li>
        <li class="tl-header">
            <div class="btn btn-sm btn-default btn-rounded">more</div>
        </li>
    </ul>
</div>