<form class="form-horizontal" method="get" ng-init="editable=false" ng-controller="ProfileController">
    <fieldset ng-disabled="!editable">
        <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="profile['name']">                        
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Age</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-id-1">Height</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="input-id-1" ng-model="profile['height']">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Weight</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="profile['weight']">
            </div>
        </div>
        <div class="line line-dashed b-b line-lg pull-in"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Role</label>
            <div class="col-sm-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Enable Fitbit</label>
            <div class="col-sm-10 ctrl-label pd-t">
                <label class="i-switch m-t-xs m-r">
                    <input type="checkbox" ng-model="profile['fitbitEnabled']">
                    <i></i>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Fitbit Client ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-disabled="!profile['fitbitEnabled']" ng-model="profile['fitbitClientId']">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" ng-model="profile['password']">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Request access as coach</label>
            <div class="col-sm-10">
                <button class="btn btn-primary" ng-click="requestAccess()" ng-disabled="isCoach === 'true'">Request</button>
            </div>
        </div>
    </fieldset>
    
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-show="editable">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-default" ng-click="editable = false">Cancel</button>
            <button type="submit" class="btn btn-primary" ng-click="saveProfile()">Save changes</button>
        </div>
    </div>

    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group" ng-show="!editable">
        <div class="col-sm-4 col-sm-offset-2">
            <button type="submit" class="btn btn-primary" ng-click="editable = true">Update</button>
        </div>
    </div>
</form>