<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/court-vision</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.jdbc.batch_size">20</property>
    <mapping resource="com/cv/user/user.hbm.xml"/>
    <mapping resource="com/cv/session/session.hbm.xml"/>
    <mapping resource="com/cv/events/eventtype.hbm.xml"/>
    <mapping resource="com/cv/game/game.hbm.xml"/>
    <mapping resource="com/cv/events/events.hbm.xml"/>
    <mapping resource="com/cv/mapping/mapping.hbm.xml"/>
    <mapping resource="com/cv/attachment/attachment.hbm.xml"/>
    <mapping resource="com/cv/playerprofile/profile.hbm.xml"/>
    <mapping resource="com/cv/team/team.hbm.xml"/>
    <mapping resource="com/cv/role/role.hbm.xml"/>
    <mapping resource="com/cv/mapping/userrolemapping.hbm.xml"/>
    <mapping resource="com/cv/mapping/playerteammapping.hbm.xml"/>
    <mapping resource="com/cv/notification/notification.hbm.xml"/>
    <mapping resource="com/cv/calendar/calendar.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
